*{
    box-sizing: border-box;
}
html{
    background-color: #01FF70;
    font-size: 16px;
}
body{
    height: fit-content;
    width: 100%;
    margin-bottom: 0px;
}
header{
    background-color: #2ECC40 ;
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
    margin: 0 10% 1em 10%;
    height: 25%;
    overflow: auto;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1em;
 
}
header img{
    margin:15px;
}
header p{
    font-size: 4em;
    font-family: 'Lilita One',cursive;
}
nav ul a{
    text-decoration: none;
    color: #000000;
}
main{
    box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
    margin: 0 10%;
    background-color: #FFDC00 ;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}
article{
    background-color: #FFFFFF;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-right:1em;
    padding: 0.3em;
    border-radius: 1em;
}
aside{

    width: 25%;
    height: 50%;
}
aside section{
    border-radius: 1em;
}
section ul li{
    text-decoration: none;

    font-family: 'Open Sans',sans-serif;
}
section h1{
    font-family: 'Lilita One',cursive;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0.5em;
}
section p{
    font-family: 'Open Sans',sans-serif;
    text-indent: 3em;
    text-align: justify;
}
.container{
    background-color: #FFDC00  ;
}
.flex-container{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
table tr td{
    font-family: 'Open Sans',sans-serif;
}
footer p{
    font-family: 'Lilita One',cursive   ;
    width: 75%;
}
nav ul li{
    list-style-type: none;
    margin-left: 0.5em;
    font-family: 'Lilita One',cursive;
    font-size: 1.5em;
}
aside section h1{
    text-align: center;
}

div.info p{
    text-align: center;
    text-indent: 0px;
    font-size: 0.9em;
}
section a i{
    margin-right: 0.5em;
}
aside section{
    background-color: #FFFFFF ;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
    padding: 0.3em;
}
footer{
    background-color: #3D9970; 
    margin: 0 10%;
    padding: 0 0.3em;
    color: white;
    border-radius: 1em;
}
footer span{
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    margin-top:auto;
    margin-bottom: auto;
    font-family: 'Lilita One',cursive;
    color: black;
}
@media only screen and (max-width: 600px) {
    main{
        display: flex;
        flex-direction: column;
    }
    article section div{
        display: flex;
        flex-direction: column;
    }
    header{
        display: flex;
        flex-direction: column;
    }
    aside div section {
        overflow: auto;
    }
  }
  article section div div ul li{
    list-style-type:none;
    margin:0 1em 0 0;
    font-family: 'Lilita One',cursive;
  }
  article section div div ul{
    padding-left:0 ;
  }
  article section div div h1{
    margin-bottom:0 ;
  }
  article section div div ul li:hover{
    cursor: pointer;
  }
  main article section div img{
      margin: 1em;
  }